{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="py-3 px-5">
    <link href="{% static 'game_gwent/cart/css/cart.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <cart-items class="page-width section-template--17791550292279__cart-items-padding">
      <div class="title-wrapper-with-link">
        <h1 class="title title--primary">Корзина</h1>
      </div>

      {% if not cart_items %}
        <div class="cart__warnings">
          <h1 class="cart__empty-text">Ваша корзина пуста</h1>
          <a href="{% url 'home_page' %}" class="btn btn-primary">
            Продолжить покупки
          </a>
        </div>
      {% else %}
        <div class="cart__contents critical-hidden">
          <div class="cart__items" id="main-cart-items" data-id="template--17791550292279__cart-items">
            <div class="js-contents">
              <table class="table bordered-toptable-hover">
                <caption class="visually-hidden">Your cart</caption>
                <thead>
                  <tr>
                    <th class="col-1" scope="col">Продукт</th>
                    <th class="col-4" scope="col"></th>
                    <th class="col-3 small-hide" scope="col">Количество</th>
                    <th class="col-3 small-hide text-end" scope="col">Всего</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart_items %}
                  <tr class="cart-item" id="CartItem-{{ forloop.counter }}">
                    <td class="cart-item__media col-1 py-5">
                      <img src="{{ item.product.main_image.url }}" class="img-fluid" alt="{{ item.product.title }}" loading="lazy" width="150" height="131">
                    </td>
                    <td class="cart-item__details col-4 px-5 py-5">
                      <a href="{% url 'collections_detail' item.product.id %}" class="product-link">{{ item.product.title }}</a>
                      <div class="product-option">{{ item.product.price }} ₽</div>
                    </td>
                    <td class="cart-item__quantity col-3 small-hide py-5">
                      <div class="cart-item__quantity-wrapper d-flex align-items-center">
                        <form action="{% url 'update_cart' item.product.id %}" method="post" class="d-inline-block">
                          {% csrf_token %}
                          <input type="hidden" name="action" value="decrease">
                          <button class="btn btn-outline-secondary" type="submit">
                            <span class="visually-hidden">Decrease quantity for {{ item.product.name }}</span>
                            <i class="fas fa-minus"></i>
                          </button>
                        </form>
                        <input class="form-control quantity__input mx-2 text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" aria-label="Quantity for {{ item.product.name }}" id="Quantity-{{ forloop.counter }}" data-index="{{ forloop.counter }}" readonly style="width: 50px;">
                        <form action="{% url 'update_cart' item.product.id %}" method="post" class="d-inline-block">
                          {% csrf_token %}
                          <input type="hidden" name="action" value="increase">
                          <button class="btn btn-outline-secondary" type="submit">
                            <span class="visually-hidden">Increase quantity for {{ item.product.name }}</span>
                            <i class="fas fa-plus"></i>
                          </button>
                        </form>
                        <form method="post" action="{% url 'remove_from_cart' item.product.id %}" class="d-inline-block ml-2 ps-4">
                          {% csrf_token %}
                          <button class="btn btn-outline-danger" type="submit">
                            <span class="visually-hidden">Remove {{ item.product.name }}</span>
                            <i class="fas fa-trash"></i>
                          </button>
                        </form>
                      </div>
                    </td>
                    <td class="cart-item__totals col-3 right small-hide py-5">
                      <div class="cart-item__price-wrapper text-end">
                        <span class="price price--end">{{ item.total_price }} ₽</span>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">Loading...</p>
          <div class="cart__totals">
            <div class="cart__subtotal">
              <span class="subtotal__label">Сумма</span>
              <span class="subtotal__price">{{ total }}</span>
            </div>
            <p class="taxes-and-shipping">Налоги и доставка рассчитываются при оформлении заказа</p>
            <a href="#" class="btn btn-primary checkout-btn">Купить</a>
          </div>
        </div>
      {% endif %}
    </cart-items>
  </div>

{% endblock %}
