{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<cart-items class="page-width section-template--17791550292279__cart-items-padding">
  <div class="title-wrapper-with-link">
    <h1 class="title title--primary">Your cart</h1>
    <a href=" # %}" class="underlined-link">Continue shopping</a>
  </div>

  {% if not cart_items %}
    <div class="cart__warnings">
      <h1 class="cart__empty-text">Your cart is empty</h1>
      <a href="# %}" class="button">
        Continue shopping
      </a>
    </div>
  {% else %}
    <form action="{% url 'update_cart' %}" class="cart__contents critical-hidden" method="post" id="cart">
      {% csrf_token %}
      <div class="cart__items" id="main-cart-items" data-id="template--17791550292279__cart-items">
        <div class="js-contents">
          <table class="cart-items">
            <caption class="visually-hidden">Your cart</caption>
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="2" scope="col">Product</th>
                <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">Total</th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">Quantity</th>
                <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr class="cart-item" id="CartItem-{{ forloop.counter }}">
                <td class="cart-item__media">
                  <a href="{{ item.product.get_absolute_url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"></a>
                  <div class="cart-item__image-container gradient global-media-settings">
                    <img src="{{ item.product.image.url }}" class="cart-item__image" alt="{{ item.product.name }}" loading="lazy" width="150" height="131">
                  </div>
                </td>
                <td class="cart-item__details">
                  <a href="{{ item.product.get_absolute_url }}" class="cart-item__name h4 break">{{ item.product.name }}</a>
                  <div class="product-option">{{ item.product.price }}</div>
                  <dl></dl>
                  <p class="product-option"></p>
                  <ul class="discounts list-unstyled" role="list" aria-label="Discount"></ul>
                </td>
                <td class="cart-item__totals right medium-hide large-up-hide">
                  <div class="cart-item__price-wrapper"><span class="price price--end">{{ item.total_price }}</span></div>
                </td>
                <td class="cart-item__quantity">
                  <div class="cart-item__quantity-wrapper">
                    <label class="visually-hidden" for="Quantity-{{ forloop.counter }}">Quantity</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit" formaction="{% url 'update_cart' item.product.id %}?action=decrease">
                          <span class="visually-hidden">Decrease quantity for {{ item.product.name }}</span>
                          <i class="bi bi-dash"></i>
                        </button>
                      </div>
                      <input class="form-control quantity__input" type="number" name="updates[]" value="{{ item.quantity }}" min="0" aria-label="Quantity for {{ item.product.name }}" id="Quantity-{{ forloop.counter }}" data-index="{{ forloop.counter }}">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" formaction="{% url 'update_cart' item.product.id %}?action=increase">
                          <span class="visually-hidden">Increase quantity for {{ item.product.name }}</span>
                          <i class="bi bi-plus"></i>
                        </button>
                      </div>
                    </div>
                    <cart-remove-button id="Remove-{{ forloop.counter }}" data-index="{{ forloop.counter }}">
                      <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger" aria-label="Remove {{ item.product.name }}">
                        <i class="bi bi-trash"></i>
                      </a>
                    </cart-remove-button>
                  </div>
                  <div class="cart-item__error" id="Line-item-error-{{ forloop.counter }}" role="alert">
                    <small class="cart-item__error-text"></small>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>
                    </svg>
                  </div>
                </td>
                <td class="cart-item__totals right small-hide">
                  <div class="cart-item__price-wrapper"><span class="price price--end">{{ item.total_price }}</span></div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">Loading...</p>
    </form>
  {% endif %}
</cart-items>
{% endblock %}