<footer class="py-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Ссылки</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="{% url 'home_page' %}">Главная</a></li>
          <li><a class="link-secondary text-decoration-none" href=" 'about' %}">О нас</a></li>
          <li><a class="link-secondary text-decoration-none" href="{% url 'cart_detail' %}">Корзина</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Наши контакты</h5>
        <ul class="list-unstyled text-small">
          <li><p>WooGames</p></li>
          <li><p>{{ email }}</p></li>
          <li><p>{{ phn_number }}</p></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
