{% load static %}

<nav class="navbar navbar-expand-md bg-light sticky-top border-bottom" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand d-md-none" href="#">
      <img src="{% static 'game_gwent/svg/logo.svg' %}" width="24" height="24" alt="Aperture">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page' %}">
              <img src="{% static 'game_gwent/img/Monochrome_logo.png' %}" width="48" height="48" alt="Aperture">
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'home_page' %}">Главная</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/">Для избранных</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about_page' %}">О нас</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart_detail' %}">
              {% if cart_status == 'filled' %}
                <img src="{% static 'game_gwent/icons/bag-check-fill.svg' %}" width="24" height="24" alt="Cart Filled">
              {% else %}
                <img src="{% static 'game_gwent/icons/bag.svg' %}" width="24" height="24" alt="Cart Empty">
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>