<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 justify-content-center align-items-center">
    {% for product in object_list %}
    <div>
      <a href="{% url 'collections_detail' product.id %}" class="text-decoration-none text-dark">
        <div class="card h-100 position-relative">
          <div class="image-container">
            {% if product.main_image %}
            <img src="{{ product.main_image.url }}" class="main-image" alt="{{ product.title }}">
            {% if product.gallery_image %}
            <img src="{{ product.gallery_image.image.url }}" class="gallery-image" alt="{{ product.title }}">
            {% endif %}
            {% else %}
            <div class="bg-dark mx-auto" style="width: 100%; height: 100%;"></div>
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text"><small class="text-muted">Цена: {{ product.price|floatformat:"-2" }} ₽</small></p>

          </div>
        </div>
      </a>
    </div>
    {% endfor %}
</div>
